<section class="product-section" id="product-section">

    <div class="section-content-mx-w">

        <div class="left-content">
            <div class="img-container">
                <img src="{{ product | img_url }}" alt="">
            </div>
        </div>
        <div class="right-content"></div>

    </div>


</section>